@font-face {
    font-family: "j12";
    src: url(./ressources/fonts/Jacquard_12/Jacquard12-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "j24";
    src: url(./ressources/fonts/Jacquard_24/Jacquard24-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "upheaval";
    src: url(./ressources/fonts/upheaval/upheavtt.ttf) format('truetype');
}

@font-face {
    font-family: "gothic_pixel";
    src: url(./ressources/fonts/gothicpixels/GothicPixels.ttf) format('truetype');
}

body
{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    overflow: hidden; /* bloque les scrollbars */
}

.noselect {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
}

.controller
{
    position: absolute;
    max-height: 32px;
    max-height: 32px;
    min-width: 24px;
    min-height: 24px;
}

.sound_control
{
    top: 8px;
    left: 55px;
}

.param_control
{
    top: 8px;
    left: 15px;
}

.param_menu
{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45px;
    left: 15px;
    visibility: hidden;
    background: url(./ressources/img/fond_param.jpg);
}

.param
{
    margin: 10px 0 0 20px;
    padding: 5px;
    display: flex;
    gap: 3%;
    border: 1px solid red;
}

.label_volume
{
    min-width: 70px;
}

.volume-sidebar 
{
    max-width: 30%;
    min-width: 20%;
    top: 8%;
    left: 5%;
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.volume-slider 
{
    width: 90%;
    cursor: pointer;
}

.btn_font p
{
    font-size: 21px;
}

.text
{
    font-family: "j12";
    margin: 0;
    font-size: 21px;
}

.animation
{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    border: 1px solid red;
    overflow: hidden;
}

.count
{
    font-family: "j12";
    text-align: center;
    width: auto;
    height: auto;
    border: 1px dashed green;
}

.count_current
{
    font-size: 70px;
    margin: 0;
    /* border: 1px dashed green; */
}

.cps
{
    font-size: 40px;
    margin: 0;
    margin-top: -5px;
    /* border: 1px dashed green; */
}

.animation_visible
{
    width: 41%;
    height: auto;
    max-width: 576px;
    max-height: 576px;
    min-width: 256px;
    min-height: 256px;
    border: 1px solid black;
}

@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}

.animate-float {
    animation: floatUp 0.4s ease-out forwards;
}

.click
{
    font-size: 37px;
    position: absolute;
    opacity: 0;
    transition: none;
    transform: translateY(0);
    pointer-events: none;
    /* visibility: hidden; */
}

.quest_journal
{
    width: 100%;
    min-height: 20%; /* à changer selon le nb d'augment */
    max-height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
}

.quest_journal_text
{
    width: auto;
    height: auto;
    font-size: clamp(14px, 4vw, 28px);
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    padding: 10px;
    margin: 0;
    transition: opacity 0.6s ease-in-out;
    opacity: 0.4;
    border: 1px dashed red;
}

.upgrade
{
    width: 25%;
    height: 100%;
    background-color: teal;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
}

.upgrade_container
{
    width: 100%;
    height: 12%; /* à changer selon le nb d'augment */
    display: flex;
    align-items: flex-start;
    gap: 1%;
    border: 1px solid red;
    opacity: 0.7;
    transition: 0.2s;
    margin-top: 4px;
}

.upgrade_container:hover
{
    opacity: 1;
}

.upgrade_container img
{
    width: 20%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box; /* très important */
}

.upgrade_text
{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 99%;
    border: 1px solid yellow;
}

.upgrade_title
{
    font-size: 36px;
}

.upgrade_price, .upgrade_quote
{
    margin-left: 6px;
    font-size: 18px;
}

.upgrade_price
{
    margin-top: 4%;
}

.upgrade_quote
{
    font-style: italic;
    font-size: 14px;
    margin-top: 5px;
}

.nb_upgrade
{
    width: 28%;
    height: 100%;
    border: 1px dashed red;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nb_upgrade p
{
    margin-right: 8%;
    font-weight: bold;
    font-size: 65px;
}

.hidden
{
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

.sous_menu_upgrade
{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
    transition: top 0.2s ease, left 0.2s ease, opacity 0.3s ease, transform 0.2s;
    visibility: hidden;
    opacity: 0;
    background-color: blueviolet;
}

.smtext
{
    width: auto;
    height: auto;
    padding: 10px;
    border: 1px solid silver;
    margin: 5px;
    border-radius: 5%;
}